## this is the main secureserver config file
## properties should be set in the same manner as bash variables
## example:
## property=value

# this is the secureserver api endpoint
service_endpoint="http://146.185.148.96:4567/api/post"

# frequency in seconds which tells the agent how often to report back to the service
report_frequency=60

# your api key
api_key=
